*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 32rem;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra horizontalmente */
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas arriba */
}


/* Buscador */
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.buscador label {
    margin-right: 0.5rem;
    font-weight: bold;
}

.buscador input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
    margin-bottom: 2rem;
}

.buscador button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Formulario */
.form-container {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"], form input[type="email"], form input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button.guardar {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

/* Datos Guardados */
h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#datosGuardados {
    list-style: none;
    padding: 0;
    width: 100%;
}

#datosGuardados li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
